
    <form method="POST" action="/api/insert/tattooimages">
        Artista Associato:<br>
        <input type="number" name="associated" value="" required><br>
        Prezzo:<br>
        <input type="number" name="price" value="" required><br>
        Stile:<br>
        <input type="text" name="style" value="" required><br><br>
        <input type="submit" value="Submit">
    </form>
