
    <form method="POST" action="/api/insert/tattooimages">
        Nome Design:<br>
        <input type="text" name="design_name" value="" required><br>
        Artista Associato:<br>
        <input type="text" name="associated" value="" required><br>
        Prezzo:<br>
        <input type="number" name="price" value="" required><br>
        Stile:<br>
        <input type="text" name="style" value="" required><br>
        Image:<br>
        <input type="text" name="image" value="" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
