<div class="d-flex">
    <form method="POST" action="/api/insert/tattooimages" class="list-inline mx-auto justify-content-center">
        Nome Design:<br>
        <input type="text" name="design_name" class="form-control" value="" required><br>
        Artista Associato:<br>
        <input type="text" name="associated" class="form-control" value="" required><br>
        Prezzo:<br>
        <input type="number" name="price" class="form-control" value="" required><br>
        Stile:<br>
        <input type="text" name="style" class="form-control" value="" required><br>
        Image:<br>
        <input type="text" name="image" class="form-control" value="" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</div>