<form id="tableForm" action="/getJson" method="get">
    ID Tatuatore: </br>
    <select class="selectpicker"  data-style="btn-info" name="selectpicker">
        
        <optgroup label="Tatuatori">
            <option selected> Scegli un tatuatore</option>
            {{#each tatuatori}}
            
            <option name="table1" value="{{id}}">{{name}} {{surname}} </option>
            {{/each}}
        </optgroup>
        
    </select>

    <input type="submit" />
</form>