
    <form method="POST" action="/api/insert/tatuatori">
        Nome:<br>
        <input type="text" name="name" value="" required><br>
        Cognome:<br>
        <input type="text" name="surname" value="" required><br>
        Biografia:<br>
        <input type="textarea" name="bio" value="" required><br>
        Città:<br>
        <input type="text" name="city" value="" required><br>
        Indirizzo:<br>
        <input type="text" name="street" value="" required><br>
        Telefono:<br>
        <input type="text" name="tele" value="" required><br>
        Email:<br>
        <input type="text" name="email" value="" required><br>
        Email privata:<br>
        <input type="text" name="private" value="" required><br>
        Cover:<br>
        <input type="text" name="cover" value="" required><br>
        Image:<br>
        <input type="text" name="image" value="" required><br>
        Ranking:<br>
        <input type="number" name="rank" value="" required><br>

        <input type="submit" value="Submit">
    </form>
