.footer {
    background-color: #2f3339;
    min-height: 310px;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .footer-2 {
    background-color: #22262c; 
    height: 100px;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .Copyright {
    color: #ffffff;
    font-size: 10px;
    }
  
  .text-footer-1 {
    color: #ffffff;
    margin-top: 30px;
    font-size: 12px;
    line-height: 150%;
  }
  
  .text-footer-2 {
    color: #ffffff;
    font-size: 12px;
  }
  