    @media screen and (max-width: 768px) {
    .Jumbotron-design {
        display: none !important;
    }

    .bottone-richiesta {
        width: 163px;
        height: 40.3px;
        border-radius: 15.1px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
        background-color: #d80e47 !important;
        color: #ffffff !important;
        font-family: Montserrat;
        font-size:14px !important;
        font-weight: bold !important;
        border-style: none !important;
    }

    .bottone-richiesta:hover {
        background-color: #ffffff !important;
        color: #d80e47 !important;
        font-family: Montserrat;
        font-size: 14px !important;
        font-weight: bold !important;
    }

    .div-prezzo {
        width: 100%;
        height: 68.5px;
        box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
        align-items: center;
        position: fixed;
        background-color: #ffffff;
        z-index: 1000;
        bottom: 0;
    }

    .description {
        line-height: 130% !important;
    }

    .prezzo {
        font-size: 15px !important;
    }
}

@media screen and (min-width: 768px) {
    .bottone-richiesta {
        width: 150px;
        height: 32px;
        border-radius: 12px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
        background-color: #d80e47 !important;
        color: #ffffff !important;
        font-family: Montserrat;
        font-size: 12px !important;
        font-weight: bold !important;
        border-style: none !important;
    }
      
    .bottone-richiesta:hover {
        background-color: #ffffff !important;
        color: #d80e47 !important;
        font-family: Montserrat;
        font-size: 12px !important;
        font-weight: bold !important;
    }

    .div-prezzo {
        position: absolute;
        bottom: 0;
    }

    .description br {
        display: none;
    }
}

.Text-2-Jumbotron-11 .Red {
    padding-left: 220px;
}

.grey {
    color: #444444;
}

/*------TATTOO SECTION------*/

.img-design {
    border-radius: 8.4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.24);
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.description {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 90%;
    color: #333333;
}

/*------ARTIST SECTION------*/

.img-artist {
    border-radius: 6.9px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 5px 0 rgba(0, 0, 0, 0.24);
    width: 240px;
    height: 171px;  
    object-fit: cover;
}

/*------ACCORDION------*/

.card {
    border-radius: 4px !important;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-style: none;
}

.card-header {
    border-style: none !important;
    background-color: #ffffff !important;
}

.btn-link:focus {
    text-decoration: none !important;
}

.collapsed {
    color: #24272c !important;
}

.arrow-accordion {
    cursor: pointer;
}

.collapsed.arrow-accordion {
    -webkit-transition:all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    -o-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.arrow-accordion {
    -webkit-transition:all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    -o-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}