@media screen and (max-width: 768px) {
  .modal-dialog {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  .zone-form, .area-form, .email-form {
    width: 300px !important;
  }
}

@media screen and (min-width: 768px) {
  .modal-dialog .modal-content{
    border-radius: 6.9px;
    background-color: #ffffff;
  }
}

.show {
  padding-right: 0 !important;
}

/*------MODAL GRAZIE------*/

.modal-grazie {
    padding: 100px 40px;
}

.grazie {
  font-size: 61px;
  font-weight: bold;
  text-align: center;
  color: #d80e47;
}

.mid-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.little-text {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #333333;
}

/*------MODAL WHATSAPP/EMAIL------*/

.modal-whatsapp {
  padding: 10px;
}

.label {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.83;
  color: #333333;
}

.data-form {
  max-width: 140px;
  height: 32px;
  border-radius: 6px;
  background-color: #f6f6f6;
}

::placeholder {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  color: #333333;
}

.zone-form {
  width: 358px;
  height: 32px;
  border-radius: 6px;
  background-color: #ffffff;
}

.area-form {
  width: 358px;
  height: 73px;
  border-radius: 6px;
  background-color: #ffffff;
}

.nome-form {
  width: 148px;
  height: 34.9px;
  border-radius: 6px;
  background-color: #ffffff;
}

.email-form {
  width: 358px;
  height: 34.9px;
  border-radius: 6px;
  background-color: #ffffff;
}

.custom-control-label {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  color: #333333;
}

.bottone-whatsapp {
  width: 150px;
  height: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
  background-color: #d80e47;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  border-style: none;
}

.bottone-whatsapp:hover {
  background-color: #ffffff;
  color: #d80e47;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #d80e47;
}