@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@media screen and (max-width: 768px) {
  .container-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text-2 {
    text-align: center;
  }

  .Jumbotron-2 {
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0px !important;
  } 

  .last-img {
    width: 100%;
    margin-bottom: 30px;
    margin-top: -20px;
    max-height: 346px;
  }
  
  .last-section .col-last-image {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
    
  .container-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container-wrapper-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .last-img {
    border-radius: 8.6px;
    width: 100%;
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.16), 0 8px 16px 0 rgba(0, 0, 0, 0.24);
  }

  .Jumbotron-2 {
    border-radius: 18px;
  }

  .list-123 {
    position: absolute;
    bottom: -7px;
  }
}

/*------- BODY-------*/

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.container-wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.container-wrapper-2 {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

/*------TOP PAGE JUMBOTRON------*/

.Jumbotron-1 {
  background-image: url('./images/hero-tattoolama.jpg');
  background-size: cover;
  background-position: center 3%;
  -webkit-background-size: cover;
  height: 337.7px;
  display: flex;
  align-items: center;
}

.Text-1-Jumbotron-1 {
  font-size: 15.8px;
  color: #ffffff;
  
}

.Text-2-Jumbotron-1 {
  font-size: 51.8px;
  font-weight: bold;
  color: #ffffff;
  
}

.Jumbotron-list-design {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('./images/hero-tattoo-design.jpg');
  background-position: center 18%;
  background-size: cover;
  height: 337.7px;
  display: flex;
  align-items: center;
}

.Jumbotron-list-tattooer {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('./images/hero-choosetattoo.jpg');
  background-position: center 25%;
  background-size: cover;
  height: 337.7px;
  display: flex;
  align-items: center;
}

.Jumbotron-design {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('./images/scegli-il-tuo-design.jpg');
  background-position: center 65%;
  background-size: cover;
  height: 190px;
  display: flex;
  align-items: center;
}

.Red {
  color: #d80e47;
}

/*------TEXT PAGE------*/

.text-1 {
  font-weight: 700 !important;
  font-size: 23px;
  color: #d80e47;
}

.text-2 {
  font-weight: 700 !important;
  color: #d80e47 !important;
  font-size: 14px !important;
}

.text-3 {
  font-weight: 700 !important;
  color: #d80e47;
  font-size: 18px;
}

.text-4 {
  font-weight: 700 !important;
  color: black;
  font-size: 24px;
  margin: 0;
}

.text-5 {
  font-weight: 700 !important;
  color: #d80e47;
  font-size: 28px;
  margin-bottom: 44px;
}

.text-2:hover{
  text-decoration: none !important;
  color: #d80e47 !important;
  opacity: 0.8;
}

/*------SLICK------*/

.lazy {
  padding: 0;
  margin-top: 18px;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
}

.Rectangle {
  width: 218.9px;
  height: 161.3px;
  border-radius: 8.6px;
  background-color: #383838;
  position: relative;
  text-align: center;
}

.text-slider {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 21.6px;
  color: #ffffff;
  position: absolute;
  transform: translate(80%, -240%);
}

/*------JUMBOTRON 2------*/

.Jumbotron-2 {
  margin-top: 26px; 
  margin-bottom: 53px;
  background-image: url('./images/tattolama-donna-tatuata.jpg');
  background-size: cover;
  background-position: center 0%;
  -webkit-background-size: cover;
  display: flex;
  align-items: center;
  height: 300px;
}

.Text-Jumbotron-2 {
  font-size: 20px;
  color: #ffffff;
}

.Red-2 {
  font-size: 27.5px;
  font-weight: bold;
  color: #d80e47;
}

/*------GRID MENU------*/

.textNome {
  font-weight: 700 !important;
  color: #6c7178;
  font-size: 12px;
  padding-left: 5.5px;
}

.textArtista {
  font-weight: 700 !important;
  color: #d80e47;
  font-size: 12px;
  padding-left: 5.5px;
}

.textPrezzo {
  font-weight: 700 !important;
  color: #a8a8a8;
  font-size: 12px;
  padding-left: 5.5px;
}

.square {
  border-radius: 8.6px;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.row-grid {
  padding-inline-start: 0px;
}

@media screen and (max-width: 1200px) {

  .grid-child:nth-child(10) {
    display: none;
  }

  .grid-child:nth-child(9) {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .grid-child:nth-child(10) {
    display: none;
  }

  .grid-child:nth-child(9) {
    display: none;
  }

  .grid-child:nth-child(8) {
    display: none;
  }

  .grid-child:nth-child(7) {
    display: none;
  }

  .grid-child:nth-child(6) {
    display: none;
  }

  .grid-child:nth-child(5) {
    display: none;
  }
}

/*------LAST SECTION------*/

.last-section {
  margin-top: 58px;
}

.list-number {
  font-size: 16px;
}

.number {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d80e47;
}

.list {
  padding-left: 19px;
  margin-bottom: 41px;
}

/*------DESCRIPTION TEXT------*/

.big-text {
  margin-top: 64px;
  margin-bottom: 39px;
}

.normal-text {
  color: #333333;
  font-size: 12px;
  line-height: 200%;
}

/* GENERAL */

.fixed{
  overflow: hidden;
  width: 100%;
}

/* SLICK HOME */

@media screen and (max-width: 480px){
  .slickHome{
      width: 110%;
  }
  .slickHome .slick-track{
      margin-left: 30px;
  }
  .slickHome .slick-dots{
      margin-left: -8px;
  }
}

.col-xs-15 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    float: left;
  }
}