@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@media screen and (max-width: 768px) {
  .container-wrapper > * {
    padding-left: 1rem ;
    padding-right: 1rem;
  }

  .navbar {
    display: none;   
  }
  .nav-res {
    visibility: visible;
    background-color: #2f3339;
    min-height: 46px;
  }

  .img-res {
    width: 180px;
    margin:0;
    padding:0;   
  }

  .botton-res {   
    font-size: 30px;
    cursor: pointer;
  }

  .text-2 {
    text-align: center;
  }

  .last-img {
    width: 100%;
    margin-bottom: 30px;
    margin-top: -20px;
    max-height: 346px;
  }
  
  .last-section .col-last-image {
    padding: 0;
  }

  .Jumbotron-2 {
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0px;
  }

  .list{
    padding-left: 0px;
  }
  
}

@media screen and (min-width: 768px) {
  .nav-res {
    display: none;
    background-color: #2f3339;
  }  

  .container-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .last-img {
    border-top-left-radius: 8.6px;
    border-bottom-left-radius: 8.6px;
    width: 100%;
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.16), 0 8px 16px 0 rgba(0, 0, 0, 0.24);
  }

  .Jumbotron-2 {
    border-radius: 18px;
  }

}

html {
  overflow-x: hidden;
}

body{
  background-color: #ffffff;
  font-family: Montserrat;
  overflow-x: hidden;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.container-wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  min-height: 76px;
  padding: 0px;
}

.navbar-brand {
  margin-left: 61.2px;
}

.nav-link {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #6c7178;
}

.Jumbotron-1 {
  margin-bottom: 33.3px;
  background-image: url('https://via.placeholder.com/1024x388/000000');
  background-size: cover;
  background-position: center center;
}

.Text-1-Jumbotron-1 {
  font-size: 15.8px;
  color: #ffffff;
  
}

.Text-2-Jumbotron-1 {
  font-size: 51.8px;
  font-weight: bold;
  color: #ffffff;
  
}

.Red {
  color: #d80e47;
}

.text-1 {
  font-weight: 700 !important;
  font-size: 23px;
  color: #d80e47;
}

.text-2 {
  font-weight: 700 !important;
  color: #d80e47;
  font-size: 14px;
}

.text-3 {
  font-weight: 700 !important;
  color: #d80e47;
  font-size: 18px;
}

.text-4 {
  font-weight: 700 !important;
  color: black;
  font-size: 24px;
  margin: 0;
}

.text-5 {
  font-weight: 700 !important;
  color: #d80e47;
  font-size: 28px;
  margin-bottom: 44px;
}

.lazy {
  padding: 0;
  margin-top: 18px;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
}

.Rectangle {
  width: 218.9px;
  height: 161.3px;
  opacity: 0.24;
  border-radius: 8.6px;
  background-color: #383838;
  width: 100%;
}

.Jumbotron-2 {
  margin-top: 26px; 
  margin-bottom: 53px;
  background-image: url('https://via.placeholder.com/910x300.jpg/383838');
  background-size: cover;
  background-position: center center;
}

.Text-Jumbotron-2 {
  font-size: 20px;
  color: #ffffff;
}

.Red-2 {
  font-size: 27.5px;
  font-weight: bold;
  color: #d80e47;
}

.textNome {
  font-weight: 700 !important;
  color: #6c7178;
  font-size: 12px;
  padding-left: 5.5px;
}

.textArtista {
  font-weight: 700 !important;
  color: #d80e47;
  font-size: 12px;
  padding-left: 5.5px;
}

.textPrezzo {
  font-weight: 700 !important;
  color: #a8a8a8;
  font-size: 12px;
  padding-left: 5.5px;
}

.big-text {
  margin-top: 64px;
  margin-bottom: 39px;
}

.last-section {
  margin-top: 58px;
}

.list-number {
  font-size: 16px;
}

.number {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d80e47;
}

.list {
  padding-left: 0px;
  margin-bottom: 41px;
}

.text-tattoer {
  position: absolute;
  bottom: 0px;
}

.normal-text {
  color: #333333;
  font-size: 12px;
  line-height: 200%;
}

.square {
  border-radius: 8.6px;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #2f3339;
  min-height: 310px;
  padding: 0;
}

.footer-2 {
  background-color: #22262c; 
  height: 100px;
  padding: 0;
  position: relative;
}

#Copyright {
  position: absolute;
  color: #ffffff;
  font-size: 10px;
  top: 50%;
  left: 7%;
  transform: translate(0%,0%);
  }

.footer-col {
  margin: 5%;
}

.footer-row {
  margin: 0;
}

.text-footer-1 {
  color: #ffffff;
  margin-top: 30px;
  font-size: 12px;
  line-height: 150%;
}

.text-footer-2 {
  color: #ffffff;
  margin-top: 30px;
  font-size: 12px;
}
