<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TattooLama</title>

  </head>

  <body>

    <main role="main">
      <h2>Ciao</h2>
      <a href="/api/insert/tatuatori">Inserisci un nuovo tatuatore</a>
      <a href="/api/get/tatuatori/last">Visualizza i tatuatori</a>
      
      {{{body}}}

    </main>

  </body>
</html>